html {
    background-color: #e5e5e5;
    transition: all 0.5s;
}

* {
    font-family: sans-serif
}

.bg-danger {
    background-color: #dfd5d5;
}

.bg-warning {
    background-color: #e3ddd2;
}

.bg-fixed {
    background-color: #dae4d8;
}

.bg-pref {
    background-color: #cddce2;
}

.icon svg {
    width: 18px;
    height: 18px;
    margin-right: 14px;
}


/* 滚动槽 */

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12);
}